.botaoS{

    margin-top: 40px;
    padding-left: 30px;

    width: 100px;
    height: 60px;

    border-radius: 10px;
    border: none;
    cursor: pointer;

    color: #f0f0f0;
    font-weight: bold;
    font-family: var(--sans);

    background: linear-gradient(135deg, #ff00cc, #7b2cff);

    box-shadow: 
    0 0 10px rgba(255, 0, 200, 0.5),
    0 0 20px rgba(123, 44, 255, 0.5);
    
    transition: 0.3s;

}

.todos{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;

    margin-right: 30px;

}

.comeco{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1{

    margin-top: 40px;

}