/* HEADER: === */
header{
    padding: 25px;
    background-color: black;
}

main{
  
  margin-left: 250px;

}

.caixa1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* BODY: === */
body{
    /*background-color: #f0f0f0;*/
    background: radial-gradient(circle at top, #120018, #000000);

}

/* PARTE DO MEIO ===: */

/* ===BUSCA:===*/
.caixa_busca{
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 30px; /* entre input e botão */

    /* Arrumar dps pra tela do celular: */
    margin-top: 20px;
    padding: 3%;

    align-items: center;

    margin-bottom: 20px;

}

.barra{

    width: 100%;
    height: 50px;

    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 15px rgba(29, 1, 46, 0.3);

    font-family: var(--sans);
    color: white;

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(123, 44, 255, 0.3), inset 0 0 10px rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);


}

.barra::placeholder{
    position: absolute;
    left: 20px;
    color: gray;
}

.botao{
    width: 75px;
    height: 50px;

    border-radius: 10px;
    border: none;
    cursor: pointer;

    color: #f0f0f0;
    font-weight: bold;
    font-family: var(--sans);

    background: linear-gradient(135deg, #ff00cc, #7b2cff);

    box-shadow: 
    0 0 10px rgba(255, 0, 200, 0.5),
    0 0 20px rgba(123, 44, 255, 0.5);
    
    transition: 0.3s;
}

.botao:hover {
  transform: scale(1.05);
  box-shadow: 
    0 0 20px rgba(255, 0, 200, 0.8),
    0 0 30px rgba(123, 44, 255, 0.8);
}


/* ===CARTÃO ATIVO===:*/
.caixa_titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    padding-right: 2%;
}

.padrao{
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.caixa_icon{
    display: flex;
    flex-direction: row;
    margin-top: 2px;

    align-items: center;

    padding: 2%;
    gap: 10px;

    margin-left: 20px;

}

.icon{
    margin-top: 4px;
}

.todos{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;

    margin-right: 30px;

}

.divi{
    position: relative;
   
    width: 60%;
    height: 2px;

    background: linear-gradient(
    to right,
    transparent 0%,
    rgba(34,197,94,0.3) 30%,
    rgba(34,197,94,1) 50%,
    rgba(34,197,94,0.3) 70%,
    transparent 100%
  );

  box-shadow: 0 0 10px rgba(34,197,94,0.6);

}

.caixa_simulado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
}

.email{
    margin-left: 40px;
    margin-top: 40px;
}

.botaoS{

    margin-top: 40px;
    padding-left: 15px;

    width: 100px;
    height: 60px;

    border-radius: 10px;
    border: none;
    cursor: pointer;

    color: #f0f0f0;
    font-weight: bold;
    font-family: var(--sans);

    background: linear-gradient(135deg, #ff00cc, #7b2cff);

    box-shadow: 
    0 0 10px rgba(255, 0, 200, 0.5),
    0 0 20px rgba(123, 44, 255, 0.5);
    
    transition: 0.3s;

}